
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}


#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 25px;
}

#root > div {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
}


#root > div h2 {
  font-size: 16px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 0;
  margin-bottom: 15px;
}


#root > div img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}


#root > div p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  text-align: left;
}
#search {
  margin-bottom: 10px;
}
#episodeAmount {
  margin-top: 0;
}
.episode-search {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  gap: 10px;
  align-items: start;
}